<div class = "container">
    <section class="job-search my-5">
        <h2>Search for Latest News</h2>
        <form action="/dashboard/search-news" method="get">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="location" placeholder="Enter Location">
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </section>
</div>