.navbar {
    padding: 1rem;
    background-color: #FFC700;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #343a40; /* Dark color for the brand */
}

.navbar-brand:hover {
    color: #0056b3; /* Color on hover */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M3.27 6.27a.749.749 0 0 1 1.06 0L12 14.94l7.72-7.67a.749.749 0 1 1 1.06 1.06l-8 8a.749.749 0 0 1-1.06 0l-8-8a.749.749 0 0 1 0-1.06z"/></svg>');
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    color: #343a40; /* Dark color for nav links */
    font-weight: bold;
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #0056b3; /* Color on hover */
}